
#informationDisplay{
    
    font-weight: 500;
    
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    position: absolute; 
    
}


.info-hidden{
    transition: z-index 0s 2s;
    transition: background-color 0.8s 0s;
    background-color: rgba(172, 211, 215, 0);
    z-index: -1;

}

.info-show{
    
    transition: z-index 0s 2s;
    transition: background-color 0.8s 0s;
    background-color: rgba(172, 211, 215, 0.561);
    
    z-index: 2;
    display: flex;

}

#informationDisplayContainer{

    width: 50rem;
    height: 50rem;
    padding: 1rem;
    border-radius: 20px;
    

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "sprite info"
                         "stats stats";

    background-color: var(--suicune-white);
    
    @keyframes spin {
        0%{
            transform: rotate(0);
        }

        100%{
            transform: rotate(360deg);
        }
    }

    #loading{
        animation: spin 2s infinite;

        position: absolute;
        width: 5rem;
        height: 5rem;
        justify-self: center;
        align-self: center;
        z-index: 10;
        
        background-image: url("../UI_elements/pokeball.svg");

        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    
    
    }   
    
    .hidden-loading{
        display: none;
    }

    .info-image{
        

        grid-area: sprite;
        width: 100%;
        height: 100%;
        padding: 2vw;
        background-color: var(--suicune-purple);
        border-radius: 20px;

        display: flex;
        justify-content: center;
        align-items: center;

        .frontSprite{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: visible;
        }
    }
    .info-general{
        grid-area: info;
        color:var(--suicune-purple);


        display: flex;
        flex-direction: column;
        justify-content: space-around;
       
        
        padding: 2vw;
    }

    .info-stats{
        display: flex;
        min-width: 100%;
        grid-area: stats;
        column-gap: 20px;
        padding: 1vw;


        .info-stats-bars{
            grid-area: stats;
            justify-self: center;
    
            display: flex;
            flex-basis: 0;
            flex-grow: 1.5;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
    
    
            width: 100%;
            height: 100%;
            
            border-radius: 20px;
            overflow: hidden;
    
            background-color: var(--suicune-purple);
    
            .stat-bar{
                transition-property: width;
                transition-duration: 1.5s;
                background-color: var(--suicune-purple-secondary);
                width: 0px;
                height: 2rem;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                .stat-bar-value{
                    font-size: 80%;
                    font-weight: 700;
                
                }
            }
        }
    
        .info-stats-labels{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-basis: 0;
            flex-grow: 1;

            text-align: right;
            font-size: 30px;
            font-weight: 500;
        }
        
    }



}

.infoDisplay-hidden{
    transition-property: opacity transform;
    transition-duration: 1s;
    opacity: 0%;
    transform: translateY(0px);
}

.infoDisplay-show{
    transition-property: opacity transform;
    transition-duration: 1s;
    opacity: 100%;
    transform: translateY(7vh);

}