/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------*/

*{
  --suicune-blue: #83CDD1;
  --suicune-purple: #D2A1DE;
  --suicune-white: #EAF1F3;
  

}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #495252;
}

.App{
	width: 75rem;
	height:75rem;

	
	background-color: var(--suicune-white);
	border-radius: 2rem;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;

	font-size: 30px;
}

.header{

	background-color: var(--suicune-blue);

	display: flex;
	justify-content: space-between;
	align-items: center;
	
	box-sizing: border-box;
	height: 2rem;
	width: 100%;

	padding: 5rem;
	
}

.search-section{
	width: 100%;
	text-align: center;
}

.pokedex-container{

	display: grid;
	grid-template-columns: repeat(4,0.3fr);
	grid-template-rows: auto;
	row-gap: 1rem;


	border-radius: 10px;
	background-color: var(--suicune-purple);
	overflow-y: scroll;


	padding-top: 1rem;
	height: 75rem;
	width: 60rem;
	margin: 2rem;
	


}


.pokemon-button{
	min-width: 12rem;
	max-width: 12rem;
	min-height: 12rem;
	max-height: 12rem;

	justify-self: center;

	border-radius: 10px;
	background-color: var(--suicune-blue);
}




/*---------------------------------*/

  @media only screen and (max-width:1220px){

	.App{
		width: 90vw;
	}

	.header{
		flex-direction: column;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		row-gap: 20px;
		
		box-sizing: border-box;
		height: 15rem;
		width: 100%;
	
		padding: 5rem;
		
	}










  }
